{% extends "layouts/main.html" %}


{% block title %}Mon compte{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/account.css')}}">
{% endblock %}


{% block content %}
    <div class="center-body">
        <div class="menu">
            <ul>
                <li class="infos-menu">infos</li>
                <li class="mdp-menu">mot de passe</li>
            </ul>
        </div>

        <div class="forms">
            <div class="card card__wrapper">
                <form class="infos" action="{{url_for('accountRoutes.update_infos')}}" method="post">
                    <h1>Mes infos</h1>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% if messages[0][0] == 'error_infos' %}
                                <div class="notification is-danger">
                                    {{ messages[0][1] }}
                                </div>
                            {% endif %}
                            {% if messages[0][0] == 'success_infos' %}
                                <div class="notification is-success">
                                    {{ messages[0][1] }}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                    <div class="form-group">
                        <label for="name">Nom</label>
                        <input type="name" name="name" id="name" autocomplete="off" value="{{current_user.name}}">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" autocomplete="off" value="{{current_user.email}}">
                    </div>
            
                    <button type="submit" class="btn btn-main login-btn">Changer</button>
                </form>
                <form class="pwd" action="{{url_for('accountRoutes.update_password')}}" method="post">
                    <h1>Mot de passe</h1>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% if messages[0][0] == 'error_pwd' %}
                                <div class="notification is-danger">
                                    {{ messages[0][1] }}
                                </div>
                            {% endif %}
                            {% if messages[0][0] == 'success_pwd' %}
                                <div class="notification is-success">
                                    {{ messages[0][1] }}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                    <div class="form-group">
                        <label for="password">Nouveau mot de passe</label>
                        <input type="password" name="password" id="password" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirmer mot de passe</label>
                        <input type="password" name="confirm_password" id="confirm_password" autocomplete="off" required>
                    </div>
            
                    <button type="submit" class="btn btn-main login-btn">Modifier</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="{{url_for('static', filename='js/account.js')}}"></script>
{% endblock %}