<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    {% block css %}
    {% endblock %}
    <title>My-CHATBOT | {% block title %}{% endblock %}</title>
</head>
<body>

    {% include '/components/header.html' %}

    {% block content %}
    {% endblock %}

    {% include '/components/footer.html' %}

    <script src="{{url_for('static', filename='js/app.js')}}"></script>
    {% block js %}
    {% endblock %}
    
</body>
</html>