.menu{
    display: flex;
    align-items: center;
    justify-content: center;

    ul{
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #8080802b;
        border-radius: 5px;
        padding: .35rem;
        position: relative;

        li{
            padding: .45rem .65rem;
            width: 150px;
            text-align: center;
            z-index: 5;
            cursor: pointer;

            &.active{
                color: white;
            }
        }

        &::before{
            content: "";
            position: absolute;
            width: 150px;
            background-color: var(--main);
            z-index: 0;

            top: 50%;
            transform: translateY(-50%);
            border-radius: 5px;
            height: 80%;
        }

        &.left{
            &::before{
                left: 5px;
            }
        }
        &.right{
            &::before{
                right: 5px;
            }
        }
    }
}

.forms{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;

    .card{
        box-shadow: 1px 2px 16px 3px #0000000f;
        border: solid 1px #d3d3d359;

        form{
            display: none;
            &.show{
                display: block;
            }
        }
    }
}