.mt-2{
    margin-top: 2rem;
}

.card{
    box-shadow: 1px 2px 16px 3px #0000000f;
    border: solid 1px #d3d3d359;
}

.btn-group{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a{
        text-decoration: none;
    }

    .btn{
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .75rem;
    }
}

table {
    width: 100%;
    border-collapse: collapse;

    tr {

      th {
        border-bottom: solid 1px rgba(184, 183, 183, 0.397);
        font-size: .9rem;
        text-align: left;
        padding: 1rem;
        font-weight: 500;
        opacity: .7;

        &:is(:first-of-type) {
          padding-left: 0;
        }
      }

      td {
        padding: .95rem 1rem;
        font-weight: 500;
        font-size: .9rem;
        text-align: left;
        border-bottom: solid 1px rgba(184, 183, 183, 0.397);

        &:is(:first-of-type) {
          padding-left: 0;
        }

        span {
          width: auto;
          overflow: hidden;
          text-align: left;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;

          

        }

        
      }
    }

    @media screen and (max-width: 1400px) {

        &.max-content{
            width: max-content;
        }
    }


}
table span.description{
  max-width: 200px;
}
.t_action {
  gap: .35rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .btn_action {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 28%);
    text-decoration: none;
    border: none;

    i {
      font-size: .8rem;
    }

    &.delete {
      color: #F04B26;
    }

    &.update {
      color: var(--main);
    }
  }
}

.wrapper_detail{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;

  .infos{
    width: 40%;
    h1{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 2rem;
      gap: .75rem;

      .status{
        font-size: .9rem;
      }
    }

    .t_action{
      margin-bottom: .75rem;
    }
  }

  .test__screen{
    width: 60%;
    .indicator{
      text-align: right;
      font-weight: bold;
      margin-bottom: .5rem;
    }

    .sender__form{
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      width: 100%;
      gap: .75rem;

      input,
      div{
        width: 100%;
      }

      .btn{
        width: max-content;
      }
    }
  }
}

.status{
  padding: .35rem .45rem;
  color: var(--white);
  border: solid 1px rgba(184, 183, 183, 0.13);
  border-radius: 5px;
  text-align: center;
  width: max-content;

  &.danger{
    color: #ff0000;
    background-color: rgb(255 49 3 / 32%);
  }

  &.success{
    color: #01a10f;
    background-color: rgb(3 255 87 / 32%);
  }
}






/* message component */
.message__box .wall {
  position: relative;
  height: 400px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 5rem;
  padding-bottom: 1.5rem;
  gap: 1rem;
  z-index: 10;
  scroll-snap-align: end;
  background-color: rgb(187 187 187 / 16%);
  border-radius: 5px 5px 0 0;
  margin-bottom: .75rem;
}
.message__box .wall .msg{
  display: flex;
  align-items: flex-start;
  gap: .55rem;
}
.message__box .wall .msg p{
  background-color: var(--white);
  padding: .75rem;
  border-radius: 5px;
  max-width: 350px;
}
.message__box .wall .msg p span{
  display: flex;
  gap: .5rem;
  margin-top: .5rem;
  flex-wrap: wrap;
}
.message__box .wall .msg p span b{
  padding: .25rem .45rem;
  font-size: .75rem;
  border-radius: 20px;
  background-color: var(--main);
  color: var(--white);
  font-weight: 400;
  cursor: pointer;
}
.message__box .wall .msg.outgoing{
  place-self: end;
  flex-direction: row-reverse;
}
.message__box .wall .msg.incomming{
  place-self: start;
}