.card__wrapper{
  width: min(500px, 100%);

  form{
    width: 100%;
  }
}

.form-group{
  display: flex;
  flex-direction: column;
  gap: .35rem;
  margin-bottom: 1rem;
}

.login-btn{
    padding-block: 1rem;
    margin-top: 1rem;
    background-color: var(--black);
    color: var(--white);
}

h1{
    font-size: 2rem;
    margin-bottom: 1.25rem;
    text-align: left;
}

textarea,
input{
    padding: .65rem .45rem;
    font-family: var(--font-familly);
    border: solid 1px rgb(231, 231, 231);
    border-radius: 5px;
    font-size: .85rem;
    font-weight: 400;
  
    &:focus{
      border-color: var(--main);
      box-shadow: 0px 2px 0px 1px var(--main);
    }
  
    &.input-style-none{
      border: none;
    }
}

.check_box{
  flex-direction: row;
  gap: .35rem;

  label{
    cursor: pointer;
  }

  input{
    width: max-content;

    &:focus{
      border-color: none;
      box-shadow: none;
    }
  }
}