/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --font-familly: "Montserrat", sans-serif;
  --main: #631E0F;
  --white: #fff;
  --text-color: #000000;
  --danger: #e64d4d;
  --gold-color: #F3C84F;
  --grey-dark-1: #C7C7C7;
  --grey-dark-2: #E5E5E5;
  --grey-dark-3: #00000029;
  --grey-dark-4: #00000080;
  --grey-dark-5: #9491911c;
  --black: #rgb(0, 0, 0);
  --black-1: #212529;
  --border-radius: 5px;
  --box-shadows: 0px 1px 2px #0000004D;
  --transition-delay: .3s;
  --stat-width: 50%;
  --negative-stat-width: -50%;
  --radius: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  font-family: var(--font-familly);
  font-size: .9rem;
  font-weight: 400;
  overflow-x: hidden;
  background-color: var(--white);
  line-height: 1.5;
  scroll-behavior: smooth;
  min-height: 100vh;
}


*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track-piece,
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb:vertical {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(37, 35, 35, 0.541);
}

.btn{
  cursor: pointer;
    font-family: var(--font-family);
    width: 100%;
    padding: .65rem 2rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.137);
    border: none;
    border-radius: 5px;
    text-align: center;
  
    &.btn-main{
      background-color: var(--main);
      color: var(--white);
      display: block;
    }
  
    &.btn-rounded{
      border-radius: 100%;
    }
  }
  
  .center-body{
    padding-inline: 2rem;
    @media screen and (min-width: 1200px){
        padding-left: calc(50% - 600px);
        padding-right: calc(50% - 600px);
    }
}

.notification{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  padding: 1rem;
  border-radius: 5px;
  margin-block: 1rem;

  &.is-danger{
    color: #ff0000;
    background-color: rgb(255 49 3 / 32%);
  }

  &.is-success{
    color: #01a10f;
    background-color: rgb(3 255 87 / 32%);
  }

  &.is-info{
    color: #0141a1;
    background-color: rgb(3 69 255 / 27%);
  }

  &.is-warning{
    color: #dfc30a;
    background-color: rgb(222 217 80 / 27%);
  }
}

.card{
  box-shadow: 1px 2px 12px 1px #0000002b;
  padding: 2rem;
  border-radius: 5px;
}

/* pagination */
.pagination_wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5rem;

  .page-items{
    font-weight: 500;
  }

  .pagination{

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .25rem;

    strong,a{
      padding: .45rem;
      border-radius: 5px;
      background-color: rgb(206 206 206 / 32%);
      border: solid 1px #bababa59;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    strong{
      background-color: var(--main);
      color: white;
    }
    a{
      text-decoration: none;
    }
  }
}