@import url('./global.css');
@import url('./form.css');

.wrapper{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.auth-register{
    gap: .35rem;
    text-align: center;
    margin-top: 1.5rem;
  
    a{
      /* border-bottom: solid 1px var(--main-color); */
      display: inline;
      color: var(--main-color);
    }
  
    &.auth-forgot{
      margin-block: .75rem;
    }
}