@import url('./global.css');
@import url('./form.css');

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 2rem;

    .logo{
        font-size: 2rem;
        font-weight: 900;
        color: var(--main);

        span{
            color: var(--black);
        }
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;

        a{
            color: var(--black);
            text-decoration: none;
            position: relative;

            &::before{
                position: absolute;
                content: "";
                width: 25px;
                height: 4px;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                background-color: var(--main);
                border-radius: 15px;
                opacity: 0;
            }

            &.active{
                color: var(--main);

                &::before{
                    opacity: 1;
                }
            }
        }

        @media screen and (max-width: 780px) {
            display: none;
        }
    }

    .logout{
        background-color: #ca0202;
        color: white;
        padding: .35rem .75rem;
        border-radius: 5px;
    }
}

.btn-toggle{
    height: 20px;
    width: 25px;
    display: flex;
    flex-direction: column;
    gap: .25rem;

    span{
        width: 100%;
        height: 3px;
        background-color: white;
    }
    @media screen and (min-width: 780px) {
        display: none;
    }

    

}