{% extends "layouts/main.html" %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/chat_bot.css')}}">  
{% endblock %}

{% block title %}ChatBot{% endblock %}

{% block content %}
    <div class="center-body mt-2">
        <h1>Nouveau chatBot</h1>
        <div class="card">
            <form class="infos" action="{{url_for('chatbots.store')}}" method="post">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% if messages[0][0] == 'error' %}
                            <div class="notification is-danger">
                                {{ messages[0][1] }}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endwith %}
                <div class="form-group">
                    <label for="name">Nom</label>
                    <input type="name" name="name" id="name" required autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" class="" id="description" rows="10" required autocomplete="off"></textarea>
                </div>
        
                <button type="submit" class="btn btn-main login-btn">Ajouter</button>
            </form>
        </div>
    </div>
{% endblock %}