{% extends "layouts/main.html" %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/chat_bot.css')}}">  
{% endblock %}

{% block title %}ChatBot{% endblock %}

{% block content %}
    <div class="center-body mt-2">
        <div class="wrapper wrapper_detail">
            <div class="infos">
                <div class="t_action">
                    <a
                        href="{{url_for('chatbots.update_view', id=bot.id)}}"
                        class="update btn_action"
                        ><i class="fa fa-pencil-alt"></i
                    ></a>
                    <form
                        action="{{url_for('chatbots.delete', id=bot.id)}}"
                        method="post"
                    >
                        <button class="delete btn_action" type="submit">
                        <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </div>
                <h1>{{bot.name}} <div class="status {{'danger' if bot.is_block else 'success'}}">{{"Bloquer" if bot.is_block else 'Actif'}}</div></h1>
                <div class="form-group">
                    <label for="token">token</label>
                    <input type="text" name="token" id="token" disabled value="{{bot.key}}">
                </div>
                <h3>Description</h3>
                <p>{{bot.description}}</p>
            </div>
            <div class="test__screen">
                <chat-box token="{{bot.key}}" isTest=true sendUrl="{{url_for('api.test')}}" testCount="5" valueCount="{{bot.test}}" ></chat-box>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script  src="{{url_for('static', filename='js/web_component/chat.js')}}"> </script>
{% endblock %}