{% extends "layouts/main.html" %} {% block css %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/chat_bot.css')}}"
/>
{% endblock %} {% block title %}ChatBot{% endblock %} 
{% macro render_pagination(pagination, endpoint) %}
    <div class="pagination_wrapper">
        <div class="page-items">
            {{ pagination.first }} - {{ pagination.last }} sur {{ pagination.total }}
        </div>
        <div class="pagination">
            {% for page in pagination.iter_pages() %} 
                {% if page %} 
                    {% if page != pagination.page %}
                        <a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
                    {% else %}
                        <strong>{{ page }}</strong>
                    {% endif %} 
                {% else %}
                    <span class="ellipsis">…</span>
                {% endif %} 
            {% endfor %}
        </div>

    </div>
{% endmacro %} 
{% block content %}
    <div class="center-body mt-2">
    <h1>Mes chatBots</h1>
    <div class="card">
        <div class="btn-group">
        <a href="{{url_for('chatbots.create')}}" class="btn btn-main">
            <span class="fas fa-plus"></span>
            <span>Nouveau</span>
        </a>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% if messages[0][0] == 'success' %}
        <div class="notification is-success">{{ messages[0][1] }}</div>
        {% endif %} {% endif %} {% endwith %}

        <table>
        <thead>
            <tr>
            <th>Id</th>
            <th>name</th>
            <th>description</th>
            <th>status</th>
            <th>Creer le</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for chat in bots.items %}
            <tr>
            <td><span>{{chat.id}}</span></td>
            <td><span>{{chat.name}}</span></td>
            <td><span class="description">{{chat.description}}</span></td>
            <td><span> <div class="status {{'danger' if chat.is_block else 'success'}}">{{"Bloquer" if chat.is_block else 'Actif'}}</div> </span></td>
            <td><span>{{chat.created_at}}</span></td>
            <td>
                <div class="t_action">
                <a
                    href="{{url_for('chatbots.detail', id=chat.id)}}"
                    class="update btn_action"
                    ><i class="fa fa-eye"></i
                ></a>
                <a
                    href="{{url_for('chatbots.update_view', id=chat.id)}}"
                    class="update btn_action"
                    ><i class="fa fa-pencil-alt"></i
                ></a>
                <form
                    action="{{url_for('chatbots.delete', id=chat.id)}}"
                    method="post"
                >
                    <button class="delete btn_action" type="submit">
                    <i class="fa fa-trash"></i>
                    </button>
                </form>
                </div>
            </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {{render_pagination(bots, 'chatbots.me')}}
    </div>
    </div>
{% endblock %}
