{% extends "layouts/main.html" %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/chat_bot.css')}}">  
{% endblock %}

{% block title %}ChatBot{% endblock %}

{% block content %}
    <div class="center-body mt-2">
        <h1>Modifier {{bot.name}}</h1>
        <div class="card">
            <form class="infos" action="{{url_for('chatbots.update', id=bot.id)}}" method="post">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% if messages[0][0] == 'error' %}
                            <div class="notification is-danger">
                                {{ messages[0][1] }}
                            </div>
                        {% endif %}
                        {% if messages[0][0] == 'success' %}
                            <div class="notification is-success">
                                {{ messages[0][1] }}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endwith %}
                <div class="form-group disabled">
                    <label for="token">Token</label>
                    <input  type="text" name="token" id="token" autocomplete="off" value="{{bot.key}}" disabled>
                </div>
                <div class="form-group">
                    <label for="name">Nom</label>
                    <input type="text" name="name" id="name" required autocomplete="off" value="{{bot.name}}">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" class="" required id="description" rows="10" autocomplete="off">{{bot.description}}</textarea>
                </div>
                <div class="form-group check_box">
                    <label for="is_block">blocker ce chat ?</label>
                    <input type="checkbox" name="is_block" id="is_block" autocomplete="off" {% if bot.is_block %}checked{% endif %}>
                </div>
        
                <button type="submit" class="btn btn-main login-btn">Modifier</button>
            </form>
        </div>
    </div>
{% endblock %}