<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>ERROR</title>
</head>
<body>
    <div class="container">
        <div class="error w-100 pt-4 mt-4">
            <h1 class="w-auto text-center pt-4 mt-4 pb-1">ERROR 500</h1>
            <a href="{{link}}" class="btn btn-primary text-white d-block w-auto mr-auto ml-auto">Revenir à l'acceuil</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" defer></script>
</body>
</html>