<header class="center-body">
    <div class="logo">Chat<span>Bots</span></div>

    <nav>
        {% if not current_user.is_authenticated %}
        <a href="{{url_for('pagesRoutes.index')}}" class="{% if  request.endpoint == 'pagesRoutes.index' %}active{% endif %}">Accueil</a>
        {% endif %}
        {% if current_user.is_authenticated %}
            <a href="{{url_for('chatbots.me')}}" class="{% if  request.endpoint == 'chatbots.me' %}active{% endif %}">ChatBots</a>
            <a href="{{url_for('accountRoutes.account')}}" class="{% if  request.endpoint == 'accountRoutes.account' %}active{% endif %}">Mon compte</a>
        {% endif %}
        
        {% if not current_user.is_authenticated %}
            <a href="{{url_for('authRoutes.login')}}" class="{% if  request.endpoint == 'authRoutes.login' %}active{% endif %}">Connexion</a>
            <a href="{{url_for('authRoutes.register')}}" class="{% if  request.endpoint == 'authRoutes.register' %}active{% endif %}">Inscription</a>
        {% endif %}
        
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('authRoutes.logout') }}" class="logout">
            Logout
        </a>
        {% endif %}

        {% if not current_user.is_authenticated %}
            <a href="{{url_for('pagesRoutes.about')}}" class="{% if  request.endpoint == 'pagesRoutes.about' %}active{% endif %}">A propos</a>
        {% endif %}
        
    </nav>

    <div class="btn-toggle">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>