{% extends "layouts/main.html" %}
{% block title %}Login{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="card__wrapper">
            <form action="{{url_for('authRoutes.login')}}" method="post">
                <h1>Connexion</h1>
                {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% if messages[0][0] == 'error' %}
                                <div class="notification is-danger">
                                    {{ messages[0][1] }}
                                </div>
                            {% endif %}
                            {% if messages[0][0] == 'success' %}
                                <div class="notification is-success">
                                    {{ messages[0][1] }}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="password" autocomplete="off" required>
                </div>
        
                <button type="submit" class="btn btn-main login-btn">Se connecter</button>
            </form>
            <p class="auth-register">Pas encore membre ? <a href="{{url_for('authRoutes.register')}}">Créer mon compte</a></p>
        </div>
    </div>
{% endblock %}
