{% extends "layouts/main.html" %}
{% block title %}Register{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="card__wrapper">
            <form action="{{url_for('authRoutes.register')}}" method="post">
                <h1>Mon compte</h1>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="notification is-danger">
                            {{ messages[0] }}.
                        </div>
                    {% endif %}
                {% endwith %}
                <div class="form-group">
                    <label for="name">Votre nom</label>
                    <input type="text" name="name" id="name" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label for="email">Votre email</label>
                    <input type="email" name="email" id="email" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label for="password">Votre mot de passe</label>
                    <input type="password" name="password" id="password" autocomplete="off" required>
                </div>
                
        
                <button type="submit" class="btn btn-main login-btn">S'inscrire</button>
            </form>
            <p class="auth-register">Déja membre ? <a href="{{url_for('authRoutes.login')}}">Se connecter</a></p>
        </div>
    </div>
{% endblock %}